---
title: Account Page
---
<!DOCTYPE html>
<html>
  <head>
    {% include header.html %}
    {% include fire.html %}
	  
  </head>
	<body>
		{% include navBar.html %}
		
		<div id="fileSubmit">
		</div>
		
		<!-- BODY WITH THE PRO PIC, USERNAMES AND EDIT PROFILE BUTTON -->
		<div class="container-fluid">
			<div class="row ml-5 mr-5">
				<div class="col-xl-3">
				  <img src="{{site.baseurl}}/Empty.jpg" class="mx-auto d-block img-circle" style= "height: 12rem; width: 12rem;" alt="Profile Picture">
				</div>
			<div class="col-xl-9"> 
				<h2 class = "ml-5" id="showUser"></h2>
				<h4 class = "ml-5" id="showName"></h4>
				<button type ="button" class="ml-5 btn btn-outline-primary">Edit Profile</button>
			  </div> 
			</div> 
		</div>

		<!-- AVERAGE USER RATING AND NAVIGATION BAR -->
		<div class="container-fluid">
				<div class="row ml-5 mr-5"> 
					<div class = "col-xl-3"> 
						<h5 class = "d-block text-center"> Average User Rating</h5>
							<div class ="d-flex justify-content-center">
								<span class="far fa-star checked"></span>
								<span class="far fa-star checked"></span>
								<span class="far fa-star checked"></span>
								<span class="far fa-star"></span>
								<span class="fas fa-star"></span>
							</div>
					</div>

					<div class = "col-xl-9">
						 <ul class="nav nav-tabs nav-justified">
							 <li class="nav-item">
									<a class="bg-light text-dark nav-link active" href="https://hmartinez20.github.io/STMUmarket/account.html">My Information</a>
							 </li>
							 <li class="nav-item">
									<a class="bg-light text-dark nav-link active" href="https://hmartinez20.github.io/STMUmarket/ItemsListed.html">Items Listed</a>
							 </li>
							 <li class="nav-item">
									<a class="bg-light text-dark nav-link" href="https://hmartinez20.github.io/STMUmarket/ItemsPurchased.html">Items Purchased</a>
							 </li>
						 </ul>
					</div>
				</div> 
		</div>
		
		<!-- BELOW THE ITEM NAV BAR -->
		<div class="container-fluid bg-light">
			 <div class="row ml-5 mr-5"> 
				 <div class = "col-xl-3">
				 	<button type="button" class="mt-5 mx-auto d-block bg-transparent text-dark btn btn-primary" data-toggle="collapse" data-target="#ProfileDesc">About Myself</button>
					  <div id="ProfileDesc" class="ml-3 collapse">
						My Life is GOOD! I am here to SELL and Make some CASH$$$
					  </div>
				 </div>
				 
				 <div class = "col-xl-9">
					<table class="mt-5 mx-auto d-block table-sm. table">
					    <thead> </thead>
					    <tbody>
					      <tr>
						<td><p class="font-weight-bold">Email:</p></td>
						<td><p id="showEmail"></p></td>
					      </tr>
					      <tr>
						<td><p class="font-weight-bold">Contact Number:</p></td>
						<td><p class=""> (818)888-888</p></td>
					      </tr>
					    </tbody>
					 </table>	
					 
				 </div>
			 </div>
		</div>
		
		
			<!--  For the Upload File Button (Might need Code later)
		   </div>
			  <div id="fileSubmit">
			 <input type="file" value="upload" id="file-select"/>
			  <button id="file-upload" class="btn btn-info" onclick="handleFileSelect();">Upload</button>
		   </div>
			-->	
		
		
<!-- Create new posting button -->
<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Create New Posting</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">

	<!-- Radio -->
        <p class="text-left">
          <strong>Item Type:</strong>
        </p>
	      
        <div class="form-check mb-4">
          <input class="form-check-input" name="group1" type="radio" id="radio-179" value="books" checked>
          <label class="form-check-label" for="radio-179">Books</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="group1" type="radio" id="radio-279" value="clothing">
          <label class="form-check-label" for="radio-279">Clothing</label>
        </div>
				
        <div class="form-check mb-4">
          <input class="form-check-input" name="group1" type="radio" id="radio-379" value="electronics">
          <label class="form-check-label" for="radio-379">Electronics</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="group1" type="radio" id="radio-479" value="furniture">
          <label class="form-check-label" for="radio-479">Furniture</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" name="group1" type="radio" id="radio-579" value="other">
          <label class="form-check-label" for="radio-579">Other</label>
        </div>
        <!-- Radio -->

        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="form34" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form34">Item Name</label>
        </div>

        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="form29" class="form-control validate">
          <label data-error="wrong" data-success="right" for="form29">Price</label>
        </div>


        <div class="md-form mb-5">
          <i class="fas fa-pencil prefix grey-text"></i>
          <textarea type="text" id="form8" class="md-textarea form-control" rows="4"></textarea>
          <label data-error="wrong" data-success="right" for="form8">Item Description</label>
        </div>	
	<!-- Upload button for multiple images -->
	      
	 <div class="md-form">
                <!-- IMPORTANT:  FORM's enctype must be "multipart/form-data" -->
                <form method="post" action="upload-page.php" enctype="multipart/form-data">
                <input name="filesToUpload[]" id="filesToUpload" type="file" multiple />
                </form>
          </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-unique" onclick="writeNewItem();">Create Posting<i class="fas fa-paper-plane-o ml-1"></i></button>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">Create New Posting</a>
</div>
<!--....THIS IS THE END OF CODE FOR THE CREATE NEW POSTING BUTTON...-->

	</body>
	{% include footer.html %}
</html>
<script>
	var currentUser;
	
	/* authentication state observer */
	firebase.auth().onAuthStateChanged(function(user){
	 	if(user){
			console.log("signed in:",user.uid);
			console.log("signed in:",user);
			currentUser = user.uid;
			/* get user's data */
			db.collection("users").doc(user.uid).get().then(function(doc) {
				if (doc.exists){
					var data = doc.data();
					/* append username and name */
					document.getElementById("showUser").append(data.username);
					document.getElementById("showName").append(data.first + " " + data.last);
					document.getElementById("showEmail").append(data.email);
				}
				else {
					console.log("Requested document does not exist...");
				}
			}).catch(function(error) {
				console.log("Error getting document:", error);
			});
			
		}
		else{
			window.location = "https://hmartinez20.github.io/STMUmarket/login.html";
		}
	});
	
	
	const storage = firebase.storage(); // Reference to storage service
	var fileButton = document.getElementById("file-upload");
	var d = new Date();
    	var dateFormatted = d.getDay().toString().padStart(2, '0')+d.getMonth().toString().padStart(2, '0')+d.getFullYear().toString();
	function handleFileSelect(id){		
		var metaData = {
			customMetadata:{
				'item': id
			}
		};
		// Get file(s)
		var fileList = document.getElementById("filesToUpload");
		var task = [];
		
		// Upload file(s) to storage
		if(fileList.files.length != 0){
				for(var i = 0; i < fileList.files.length; i++){
					 var fileName = fileList.files[i].name;

					 // Create storage ref
					 const storageRef = storage.ref('posts/'+currentUser+'/'+dateFormatted+'_'+fileName);  // Reference to WHERE the image will be stored

					 task = storageRef.put(fileList.files[i], metaData);

					 //Upload progress
					 task.on('state_changed',
							function progress(snapshot){
							},
							function error(err){
								 alert(err);
							},
							function complete(){
								 alert(fileName+"\nUploaded!");
							}
					 );
				}
		 }
	}
	
	function writeNewItem(){
		var selected = null;
		var radios = document.getElementsByName("group1");
		for(var i = 0; i < radios.length; i++){
			if (radios[i].checked){
				selected = radios[i].value;
				break;
			}
		}		
		db.collection("items").add({
			category: selected,
			title: document.getElementById("form34").value,
			price: Number(document.getElementById("form29").value),
			description: document.getElementById("form8").value,
			date: new Date()
		})
		.then(function(docRef){
			console.log("ID = ", docRef.id);
			handleFileSelect(docRef.id);
		})
		.catch(function(error){
			alert("\n Error! Ask your administrator");
			console.log("Error writing document ", error);
		});
	}
</script>

<script src="LoginChecker.js"></script>

