<script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCHGTrBMjQgxhGlnxQiJp2oC0LaB54PcVg",
    authDomain: "stmumarket.firebaseapp.com",
    databaseURL: "https://stmumarket.firebaseio.com",
    projectId: "stmumarket",
    storageBucket: "stmumarket.appspot.com",
    messagingSenderId: "305545345045"
  };
  firebase.initializeApp(config);
  
  var database = firebase.database();
  var db  = firebase.firestore();
  
</script>
